@mixin breakpoint($width) {
	@if $width == tiny {
		@media (max-width: 340px) { @content; }
	}

	@if $width == smallTablet {
		@media (min-width: 481px) { @content; }
	}

	@if $width == smallTabletLandscape{
		@media (min-width: 641px) { @content; }
	}

	@if $width == largeTablet {
		@media (min-width: 961px) { @content; }
	}

	@if $width == desktop {
		@media (min-width: 1025px) { @content; }
	}

	@if $width == huge {
		@media (min-width: 1280px) { @content; }
	}
}

@keyframes sliderSwipe {
	0% { left: 100%; }
	10% { left: 0%; }
	90% { left: 0%; }
	100% { left: -100%; }
}

@mixin sliderSwipe() {
	animation-name: sliderSwipe;
	animation-duration: 7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}