@import 'mixins';

$burntSienna: #451400;
$brightRed: #a81612;
$lightCream: #e9e6e0;
$camel: #a96744;


* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background-color: $lightCream;
	min-width: 300px;
	width: 100%;
}


header {
	width: 100%;
	height: 70px;
	background-color: $burntSienna;
	color: white;
	border-bottom: 2px solid $camel;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	text-transform: lowercase;
	overflow: hidden;

	.hamburger-menu {
		margin-right: 15px;
		height: 40px;
		width: 40px;
		background-image: url(../img/hamburger-icon.svg);
		background-size: fill;
		background-repeat:  no-repeat;
		background-position: center;

		@include breakpoint(smallTabletLandscape) {
			display: none;
		}
	}

	.mobile-navigation {
		transform: 0;
		transition: 0.2s;
		position: absolute;
		top: 70px;
		background-color: $burntSienna;
		z-index: 2;
		display: none;

		.navigation__link {
			padding: 20px;

			&.active {
				color: $camel;
				&:hover {
					color: $camel;
				}
			}

			&:hover {
				color: $brightRed;
			}
		}

		&.hidden {
			transform: translate(100%);
		}
	}

	.navigation {
		display: none;

		@include breakpoint(smallTabletLandscape) {
			width: 100%;
			display: flex;

			.navigation__link {
				padding: 20px;

				&.active {
					color: $camel;
					&:hover {
						color: $camel;
					}
				}

				&:hover {
					color: $brightRed;
				}
			}

			&.hidden {
				transform: translate(100%);
			}
		}
	}	
}


.italic-serif {
	font-style: italic;
}

.sans-serif {
	font-style: initial;
	font-family: "Helvetica Neue";
	text-transform: uppercase;
}

.header--title {
	text-align: right;
	padding: 30px;
	font-size: 1.75rem;
	color: $burntSienna;
}

.slider {
	background-color: white;
	height: 300px;
	position: relative;
	overflow: hidden;
	border-bottom: 2px solid $lightCream;

	.slider__background-image {
		position: absolute;
		height: 100%;
		width: 100%;
		background-image: url(../img/logo.png);
		background-repeat: no-repeat;
		background-size: 200px 200px;
		background-position: center;
		opacity: 0.2;
		z-index: 0;
	}

	h2 {
		position: absolute;
		font-size: 1.5rem;
		padding: 30px 35px 30px 35px;
		margin-top: 30px;
		margin-left: 10%;
		border: 2px solid $burntSienna;
		color: $burntSienna;

		@include breakpoint(smallTablet) {
			margin-left: 20%;
		}

		@include breakpoint(largeTablet) {
			margin-left: 25%;
		}

		@include breakpoint(largeTablet) {
			margin-left: 30%;
		}
	}

	.slider__container {
		margin-top: 170px;
		padding-right: 10%;
		height: 130px;
		position: relative;
		@include sliderSwipe();

		@include breakpoint(smallTablet) {
			padding-right: 20%;
		}

		@include breakpoint(smallTabletLandscape) {
			margin-top: 215px;
			padding-right: 18%;
			
		}

		@include breakpoint(largeTablet) {
			padding-right: 25%;
		}
	}

	.slider__item {
		color: $burntSienna;
		font-size: 3.5rem;
		display: none;
		justify-content: flex-end;
		align-items: center;

		@include breakpoint(smallTablet) {
			margin-left: 50%;
		}

		p {
			text-align: right;
			margin-left: 45%;

			@include breakpoint(smallTabletLandscape) {
				margin-left: 0;
			}
		}

		&.visible {
			display: flex;
		}
	}
}

.story {
	width: 100vw;
	position: relative;
	overflow: hidden;

	@include breakpoint(tiny) {
		height: 50vh;
	}

	height: 60vh;

	@include breakpoint(smallTablet) {
		height: 70vh;
	}

	@include breakpoint(smallTabletLandscape) {
		height: 80vh;
	}

	@include breakpoint(largeTablet) {
		height: 80vh;
	}

	@include breakpoint(huge) {
		height: 82vh;
	}

	.story-container {
		transition: 1s;
		transition-timing-function: ease-in-out;
		height: 100%;
		width: 100000000%;
		position: relative;
		overflow: visible;
		transition: 0.2s;
		min-width: 300px;
		left: 0;
	}

	.story-container__page {
		transition: 0s;
		position: relative;
		display: inline-block;
		white-space: nowrap;
		width: 100vw;
		height: 100%;
		vertical-align: top;
		margin: 0;
		min-width: 300px;
		
		.story-container__page--image {
			height: 100%;
			width: 100%;
			background-size: cover;
			background-position: center;
		}

		.story-container__page--text {
			white-space: pre-wrap;
			text-align: center;
		}
	}

	.story__farmers {
		.story-container__page--image {
			&.barn-landscape {
				background-image: url(../img/farm-landscape.jpeg);
			}

			&.farmer-woman-smiling {
				background-image: url(../img/farmer-woman-smiling.jpeg);
			}

			&.farm-tractor {
				background-image: url(../img/farm-tractor.jpeg);
			}

			&.farmer-man-smiling {
				background-image: url(../img/farmer-man-smiling.jpeg);
				background-position: top;
			}
		}
	}

	.story-container__page--text {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
		padding: 0 55px 0 55px;

		@include breakpoint(tiny) {
			padding: 25vw;
			padding-top: 0;
		}

		@include breakpoint(smallTabletLandscape) {
			padding: 100px;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}


.story-nav-container {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: flex-end;
	justify-content: center;

	@include breakpoint(tiny) {
		justify-content: center;
	}

	.nav-button-container {
		overflow: hidden;
		position: relative;
		display: flex;
		justify-content: flex-end;
		background-color: rgba(69, 20, 0, 0.65);
		opacity: 0.4;

		@include breakpoint(smallTabletLandscape) {

		}

		&.visible {
			opacity: 1;

			.story-button {
				&:hover {
					background-color: $burntSienna;
					opacity: 1;
				}
			}
		}

		&.previous {
			flex-direction: row-reverse;
			border-top-left-radius: 5px;

			@include breakpoint(tiny) {
				border-radius: 0;
			}
		}

		&.next {				
			@include breakpoint(tiny) {
				border-radius: 0;
			}

			border-top-right-radius: 5px;
		}
	}

	.story-button {
		transition: 0.2s;
		height: 100%;
		opacity: 0.65;

		.story-nav-icon {
			height: 65%;
			width: 65%;
			margin: 17.5%;
			border-radius: 50%;
			border: 2px solid $lightCream;
			background-size: 80% 80%;
			background-position: center;
			background-repeat: no-repeat;
		}

		&.previous-button {
			
			.story-nav-icon {
				background-image: url(../img/backward.svg);
			}

			&.skip-backward {
				.story-nav-icon {
					background-image: url(../img/skip-backward.svg);
				}

			}
		}

		&.next-button {
			
			.story-nav-icon {
				background-image: url(../img/forward.svg);	
			}

			&.skip-forward {
			
				.story-nav-icon {
					background-image: url(../img/skip-forward.svg);
				}
			}
		}
		
		@include breakpoint(tiny) {
			height: 25vw;
			width: 25vw;
			min-height: 50px;
			min-width: 50px;
		}

		@include breakpoint(smallTablet) {
			height: 85px;
			width: 85px;
		}

		@include breakpoint(smallTabletLandscape) {
			height: 100px;
			width: 100px;
		}

		height: 80px;
		width: 80px;
	}	
}

footer {
	height: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: $burntSienna;
	padding-right: 5%;
	color: $camel;
	border-top: 2px solid $brightRed;
}




